@page
@model App.Pages.AddSongModel
@{
    ViewData["Title"] = "Add a song!";
}
<section id = "main">
    <div class="left-floating-div" id="add-song-div">
        <h1>Add Song</h1>
        @using (Html.BeginForm("OnPostSubmitButton", "AddSongModel", FormMethod.Post))
        {
            <div>
                <small>Required</small>
                @Html.TextBoxFor(Model => Model.songTitle, new { @type = "text", @placeholder = "Title"})
                <small>Required</small>
                @Html.TextBoxFor(Model => Model.songAlbum, new { @type = "text", @placeholder = "Album"})
                <small>Required</small>
                @Html.TextBoxFor(Model => Model.songArtist, new { @type = "text", @placeholder = "Artist"})
                <small>Required</small>
                @Html.TextBoxFor(Model => Model.songLength, new { @type = "text", @placeholder = "1.34"})
                <small>Required</small>
                @Html.EditorFor(Model => Model.songDate, new { @type = "date", @placeholder = "mm/dd/yyyy"})
                <input type="submit" asp-page-handler="SubmitButton" value="Submit"/>
            </div>
        }
    </div>
</section>

<!--
    <input type="text" placeholder="Title" id="title-input"/>
        <input type="text" placeholder="Album" id="album-input"/>
        <input type="text" placeholder="Artist" id="artist-input"/>
        <input type="text" placeholder="Length" id="length-input"/>
        @Html.TextAreaFor(AddSongModel => AddSongModel.songDate, new { @type = "date"})
        <form method="post">
            <button type="submit" asp-page-handler="SubmitButton">Submit</button>
        </form>-->
