@page
@model App.Pages.SearchSongModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var SessionUserID = @HttpContextAccessor.HttpContext.Session.GetInt32("UserID");
}

<section id="main">

    <div class="text-center text-light">
        <h1 class="display-4 text-light">Search</h1>
            @using (Html.BeginForm("SearchEverything", "Search", FormMethod.Post)) {
                @if (Model.SearchString != null){
                    <input type="text" id="searchBar" class="search-bar" name="search-bar" value=@Model.SearchString autocomplete="off"/>
                } else {
                    <input type="text" id="searchBar" class="search-bar" name="search-bar" placeholder="Search..." autocomplete="off"/>
                }
                <div class="search-bar-content text-light">
                    <!-- -->
                </div>
                <input class="mm_button" type="submit" asp-page-handler="Search" value="Search"/>
            }


        <p class="text-light" name="content" id="content"></p>

        </div>
        <!-- If searched for something then draw table below-->
        <div>

            <!-- Songs -->

            @if(Model.Songs != null && Model.ArtistNames != null)
            {
                <h2 class="display-4 text-light">Songs</h2>
                @for(int i = 0; i < Model.Songs.Length; i++)
                {
                    @using(Html.BeginForm("OnPostAddSongPress", "AddSong", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="song-id" name="song-id" hidden="hidden">@Model.Songs[i].SongID</textarea>
                            <div class="song-title" name="song-title">
                                @Model.Songs[i].Title
                            </div>
                            <div class="song-album" name="song-album">
                                @Model.Songs[i].AlbumName
                            </div>
                            <div class="song-artist" name="song-artist">
                                @Model.ArtistNames[i]
                            </div>
                            <div class="song-date" name="release-date">
                                @Model.Songs[i].ReleaseDate
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="dropdown-button">Playlist</button>
                                    <div class="dropdown-content text-light">
                                        @if (Model.Playlists != null) 
                                        {
                                            @foreach(var playlist in Model.Playlists)
                                            {
                                                <!-- The ability to fetch the current song data that's added to the playlist needs fixing -->
                                                <input class="mm_button" type="submit" id="add-song-button" name="add-song-button" asp-page-handler="Add" value=@playlist/>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            <!-- Albums -->

            @if(Model.Albums != null)
            {
                <h2 class="display-4 text-light">Albums</h2>
                @for(int i = 0; i < Model.Albums.Length; i++)
                {
                    @using(Html.BeginForm("OnPostAddSongPress", "AddSong", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="song-id" name="album-id" hidden="hidden"></textarea>
                            <div class="album-name">
                                @Model.Albums[i]
                            </div>
                        </div>
                    }
                }
            }

            <!-- Users -->

            @if(Model.Users != null)
            {
                <h2 class="display-4 text-light">Users</h2>
                @for(int i = 0; i < Model.Users.Length; i++)
                {
                    @using(Html.BeginForm("OnPostAddSongPress", "AddSong", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="song-id" name="album-id" hidden="hidden"></textarea>
                            <div class="username">
                                @Model.Users[i]
                            </div>
                        </div>
                    }
                }
            }

            <!-- Do same as above for album and playlist (May need to create playlist model object and album model object to get id) -->











            <!-- Alex Below -->
            <!--@if (Model.Songs != null)
                {
                    <h2 class="display-4 text-light">Songs</h2>
                    <table class="display-table text-center text-light">
                        <tr class="text-center">
                            <th>Title</th>
                            <th>Album</th>
                            <th>Artist</th>
                            <th>Date</th>
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") != null)
                            {
                                <th>Add</th>
                            }
                        </tr>
                        @for (int i=0; i<Model.Songs.Length; i++)
                        {
                            <tr>
                                @using (Html.BeginForm("DisplayPlaylist", "SearchSongModel", FormMethod.Post))
                                {
                                    <td>@Model.Songs[i].Title</td>
                                    <td>@Model.Songs[i].AlbumName</td>
                                    <td>@Model.ArtistNames[i]</td>
                                    <td>@Model.Songs[i].ReleaseDate</td>
                                    @if (@HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") != null) 
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <button class="dropdown-button">Playlist</button>
                                                <div class="dropdown-content text-light">
                                                    @if (Model.Playlists != null) 
                                                    {
                                                        @foreach(var playlist in Model.Playlists)
                                                        {
                                                            <!-- The ability to fetch the current song data that's added to the playlist needs fixing -->
                                                            <!-- <input class="mm_button" type="submit" name="playlistDisplay" asp-page-handler="Add" value=@playlist/> -->
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                }

            @if (Model.Albums != null)
                {
                    <h2 class="display-4 text-light">Albums</h2>
                    <table class="display-table text-center text-light">
                        <tr class="text-center">
                            <th>Album</th>
                        </tr>
                        @foreach(var album in @Model.Albums)
                        {
                            <tr class="text-center">
                                <td>@album</td>
                            </tr>
                        }
                    </table>
                }

            @if (Model.Users != null)
                {
                    <h2 class="display-4 text-light">Users</h2>
                    <table class="display-table text-center text-light">
                        <tr class="text-center">
                            <th>Users</th>
                        </tr>
                        @foreach(var user in @Model.Users)
                        {
                            <tr class="text-center">
                                <td>@user</td>
                            </tr>
                        }
                    </table>
                } -->

        </div>
</section>
