@page
@model App.Pages.SearchSongModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
}

<section id="main">

    <div class="text-center text-light">
        <h1 class="display-4 text-light">Search</h1>
            @using (Html.BeginForm("SearchEverything", "Search", FormMethod.Post)) {
                <input type="text" id="searchBar" class="search-bar" name="search-bar" placeholder="Search..." autocomplete="off"/>
                <div class="search-bar-content text-light">
                    <!-- -->
                </div>
                <input class="mm_button" type="submit" asp-page-handler="Search" value="Search"/>
            }


        <p class="text-light" name="content" id="content"></p>

        </div>
        <!-- If searched for something then draw table below-->
        <div>
            <table class="display-table text-center text-light">
                <tr class="text-center">
                    <th>Title</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Date</th>
                    <th>Add</th>
                </tr>

                @if (Model.Songs != null)
                {
                    <h2 class="display-4 text-light">Songs</h2>
                    @for (int i=0; i<Model.Songs.Length; i++)
                    {
                        <td>@Model.Songs[i].Title</td>
                        <td>@Model.Songs[i].AlbumName</td>
                        <td>@Model.ArtistNames[i]</td>
                        <td>@Model.Songs[i].ReleaseDate</td>
                        @if (Model.Playlists != null || @HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") != null) {
                            <td>
                                <div class="dropdown">
                                    <button class="dropdown-button" asp-page-handler="DisplayPlaylist">Playlist</button>
                                    <div class="dropdown-content text-light">
                                        @foreach(var playlist in Model.Playlists){
                                            @using (Html.BeginForm("DisplayPlaylist", "Playlists", FormMethod.Post))
                                            {
                                                <a>@playlist</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </td>
                        }
                    }
                }
                @if (Model.Albums != null)
                {
                    <h2 class="display-4 text-light">Albums</h2>
                    @foreach(var album in @Model.Albums)
                    {
                        <p>@album</p>
                    }
                }

                <tr>

                    <td>DNA</th>
                    <td>DAMN.</th>
                    <td>Kendrick Lamar</th>
                    <td>10/12/2005</th>
                    <td>
                        <div class="dropdown">
                            <button class="dropdown-button">Playlist</button>
                            <div class="dropdown-content text-light">
                                <a href="./Index" class="text-light">Playlist1</a>
                                <a small>Playlist2</a>
                                <a small>Playlist3</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
</section>
