@page
@model App.Pages.SearchSongModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var SessionUserID = @HttpContextAccessor.HttpContext.Session.GetInt32("UserID");
}

<section id="main">

    <div class="text-center text-light">
        <h1 class="display-4 text-light">Search</h1>
            @using (Html.BeginForm("SearchEverything", "Search", FormMethod.Post)) {
                <input type="text" id="searchBar" class="search-bar" name="search-bar" placeholder="Search..." autocomplete="off"/>
                <div class="search-bar-content text-light">
                    <!-- -->
                </div>
                <input class="mm_button" type="submit" asp-page-handler="Search" value="Search"/>
            }


        <p class="text-light" name="content" id="content"></p>

        </div>
        <!-- If searched for something then draw table below-->
        <div>
            <table class="display-table text-center text-light">
                <tr class="text-center">
                    <th>Title</th>
                    <th>Album</th>
                    <th>Artist</th>
                    <th>Date</th>
                    <th>Add</th>
                </tr>
                <tr>

                    <td>DNA</th>
                    <td>DAMN.</th>
                    <td>Kendrick Lamar</th>
                    <td>10/12/2005</th>
                    <td>
                        <div class="dropdown">
                            <button class="dropdown-button">Playlist</button>
                            <div class="dropdown-content text-light">
                                <a href="./Index" class="text-light">Playlist1</a>
                                <a small>Playlist2</a>
                                <a small>Playlist3</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            @if (Model.Songs != null)
                {
                    <h2 class="display-4 text-light">Songs</h2>
                    <table class="display-table text-center text-light">
                        <tr class="text-center">
                            <th>Title</th>
                            <th>Album</th>
                            <th>Artist</th>
                            <th>Date</th>
                            <th>Add</th>
                        </tr>
                        @for (int i=0; i<Model.Songs.Length; i++)
                        {
                            <tr>
                                <td name="songName">@Model.Songs[i].Title</td>
                                <td>@Model.Songs[i].AlbumName</td>
                                <td name="artistName">@Model.ArtistNames[i]</td>
                                <td>@Model.Songs[i].ReleaseDate</td>
                                <!-- Displays playlists for user. Needs fixing -->
                                @if (@HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") != null) 
                                {
                                    <td>
                                        <div class="dropdown">
                                            <button class="dropdown-button">Playlist</button>
                                            <div class="dropdown-content text-light">
                                            @using (Html.BeginForm("DisplayPlaylist", "SearchSongModel", FormMethod.Post))
                                            {
                                                @if (Model.Playlists != null) 
                                                {
                                                    @foreach(var playlist in Model.Playlists)
                                                    {
                                                        <input class="mm_button" type="submit" name="playlistDisplay" asp-page-handler="Add" value=@playlist/>
                                                    }
                                                }
                                            }
                                            </div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }

            @if (Model.Albums != null)
                {
                    <h2 class="display-4 text-light">Albums</h2>
                    <table class="display-table text-center text-light">
                        <tr class="text-center">
                            <th>Album</th>
                        </tr>
                        @foreach(var album in @Model.Albums)
                        {
                            <tr class="text-center">
                                <td>@album</td>
                            </tr>
                        }
                    </table>
                }

            @if (Model.Users != null)
                {
                    <h2 class="display-4 text-light">Users</h2>
                    <table class="display-table text-center text-light">
                        <tr class="text-center">
                            <th>Users</th>
                        </tr>
                        @foreach(var user in @Model.Users)
                        {
                            <tr class="text-center">
                                <td>@user</td>
                            </tr>
                        }
                    </table>
                }

        </div>
</section>
