@page
@model App.Pages.SearchSongModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var SessionUserID = @HttpContextAccessor.HttpContext.Session.GetInt32("UserID");
}

<section id="main">

    <div class="text-center text-light">
        <h1 class="display-4 text-light">Search</h1>
            @using (Html.BeginForm("SearchEverything", "Search", FormMethod.Post)) 
            {
                @if (Model.SearchString != null){
                    <input type="text" id="searchBar" class="search-bar" name="search-bar" value=@Model.SearchString autocomplete="off"/>
                } else {
                    <input type="text" id="searchBar" class="search-bar" name="search-bar" placeholder="Search..." autocomplete="off"/>
                }
                <input class="mm_button" type="submit" asp-page-handler="Search" value="Search"/>
            }


        <p class="text-light" name="content" id="content"></p>

            @if(Model.Songs != null && Model.ArtistNames != null)
            {
                <h2 class="display-4 text-light">Songs</h2>
                @for(int i = 0; i < Model.Songs.Length; i++)
                {
                    @using(Html.BeginForm("OnPostAddSongPress", "AddSong", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="song-id" name="song-id" hidden="hidden">@Model.Songs[i].SongID</textarea>
                            <div class="song-title" name="song-title">
                                @Model.Songs[i].Title
                            </div>
                            <div class="song-album" name="song-album">
                                @Model.Songs[i].AlbumName
                            </div>
                            <div class="song-artist" name="song-artist">
                                @Model.ArtistNames[i]
                            </div>
                            <div class="song-date" name="release-date">
                                @Model.Songs[i].ReleaseDate
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="dropdown-button">Add to Playlist</button>
                                    <div class="dropdown-content text-light">
                                        @if (Model.CurrentUsersPlaylists != null) 
                                        {
                                            @foreach(var playlist in Model.CurrentUsersPlaylists)
                                            {
                                                <input class="mm_button" type="submit" id="add-song-button" name="add-song-button" asp-page-handler="Add" value=@playlist />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            <!-- Playlists -->

            @if(Model.searchPlaylists != null)
            {
                <h2 class="display-4 text-light">Playlists</h2>
                @foreach(var playlist in Model.searchPlaylists)
                {
                    @using(Html.BeginForm("OnPostViewPlaylist", "ViewPlaylist", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="user-id" name="user-id" hidden="hidden">@playlist.UserId</textarea>
                            <div class="playlist-name">
                                <input class="mm_button" type="submit" id="view-playlist-button" name="view-playlist-button" asp-page-handler="ViewPlaylist" value=@playlist.PlaylistTitle />
                            </div>
                        </div>
                    }
                }
            }

            <!-- Albums -->

            @if(Model.Albums != null)
            {
                <h2 class="display-4 text-light">Albums</h2>
                @foreach(var album in Model.Albums)
                {
                    @using(Html.BeginForm("OnPostViewSelectedAlbum", "SearchSongModel", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="album-id" name="album-id" hidden="hidden">@album.AlbumID</textarea>
                            <div class="album-name">
                                <input class="mm_button" type="submit" id="view-album-button" name="view-album-button" asp-page-handler="ViewSelectedAlbum" value=@album.AlbumTitle />
                            </div>
                        </div>
                    }
                }
            }

            <!-- Users -->

            @if(Model.Users != null)
            {
                <h2 class="display-4 text-light">Users</h2>
                @foreach(var user in Model.Users)
                {
                    @using(Html.BeginForm("OnPostViewProfile", "ViewProfile", FormMethod.Post))
                    {
                        <div class="listing-container">
                            <textarea id="user-id" name="user-id" hidden="hidden">@user.UserID</textarea>
                            <div class="username">
                                <input class="mm_button" type="submit" id="view-profile-button" name="view-profile-button" asp-page-handler="ViewProfile" value=@user.Username />
                            </div>
                        </div>
                    }
                }
            }

            <!-- Playlists -->



            <!-- Do same as above for album and playlist (May need to create playlist model object and album model object to get id) -->

        </div>
</section>
