@page
@model App.Pages.UserProfileModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "User-Page";
    var IsEditBioMode = @HttpContextAccessor.HttpContext.Session.GetString("IsEditMode");
    var SessionUserID = @HttpContextAccessor.HttpContext.Session.GetInt32("UserID");
    var IsSameUser = Model.PageUserID == SessionUserID;
}

<div class="user-container text-light">
    <div class="user-sidebar">
        <u>
            <h2>About: @Model.Username</h2>
        </u>
        @if(IsEditBioMode != "TRUE")
        {
            @if(Model.Bio != null)
            {
                <p>@Model.Bio</p>
            }
            else
            {
                <p>@Model.Username has no bio!</p>
            }
            
            @if(IsSameUser)
            {
                @using (Html.BeginForm("OnPostEditBio", "UserProfileModel", FormMethod.Post))
                {
                    <input type="submit" asp-page-handler="EditBio" class="mm_button" value="Edit"/>
                }
            }
        }
        else
        {
            @using (Html.BeginForm("OnPostSubmitEditedBio", "UserProfileModel", FormMethod.Post))
            {
                <textarea id="user-bio-text" name="user-bio-text" class="mm_bio-textbox"></textarea>
                <input type="submit" id="bio-submit" asp-page-handler="SubmitEditedBio" class="mm_button" value="Submit" disabled="disabled"/>
            }
        }
        <div>
        </div>
    </div>
    <div class="user-content">
        <div class="user-header">
            <div>
                <u>
                    <h1>@Model.Username's Playlists:</h1>
                </u>
            </div>
        </div>
        @if(IsSameUser)
        {
            <div style="float: right;">
                @using (Html.BeginForm("OnPostSubmitEditedBio", "UserProfileModel", FormMethod.Post))
                {
                    <input type="submit" asp-page-handler="CreateNewPlaylist" class="mm_button" value="Create New"/>
                }
            </div>
            <div style="float: right;">
                @using (Html.BeginForm("OnPostLogOut", "UserProfileModel", FormMethod.Post))
                {
                    <input type="submit" asp-page-handler="LogOut" class="mm_button" value="Log Out"/>
                }
            </div>
        }
        <div class="user-content-container">
            @if(Model.Playlists != null)
            {
                <!-- Put FOREACH loop here to loop through playlists -->
                @foreach(var title in Model.Playlists)
                {
                    @using (Html.BeginForm("OnPostSubmitEditedBio", "UserProfileModel", FormMethod.Post))
                    {
                        <input type="submit" id="viewPlaylist" name="viewPlaylist" asp-page-handler="ViewPlaylist" class="playlist-container text-light" value=@title/>
                    }
                }
            }
            else
            {
                <div class="text-light">
                    <p>@Model.Username does not have any playlists!</p>
                </div>
            }
        </div>
    </div>
</div>