@page
@model App.Pages.ViewPlaylistModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
}

<div class="view-playlist-content">
    <div class="playlist-title text-light">
        <u>
            <h1 class="display-4">@Model.PlaylistName</h1>
        </u>
    </div>
    <div>
        @if(Model.Songs != null)
        {
            @foreach(var song in Model.Songs)
            {
                <div class="song-container text-light">
                    <div class="song-contianer-subsection">
                        <p>@song.Title</p>
                    </div>
                    <div class="song-contianer-subsection">
                        <p>@song.ReleaseDate</p>
                    </div>
                    <div class="song-contianer-subsection">
                        <p>@song.AlbumName</p>
                    </div>
                </div>
            }
        }
    </div>
    <div class="comment-container text-light">
        @if(Model.Comments != null)
        {
            @foreach(var comment in Model.Comments)
            {
                <div class="comment">
                    @if(@HttpContextAccessor.HttpContext.Session.GetString("IsEditMode") == "TRUE"
                    && @HttpContextAccessor.HttpContext.Session.GetInt32("UserID") == comment.UserID)
                    {
                        @using (Html.BeginForm("OnPostSubmit", "ViewPlaylist", FormMethod.Post))
                        {
                            <textarea hidden="hidden" id="comment-id-texta" name="comment-id-texta">@comment.CommentID</textarea>
                            <div class="comment-header" id="comment-id" name="comment-id" value=@comment.CommentID>
                                <div class="comment-user">
                                    <p id="myComment1" name="myComment1">User: @comment.Username</p>
                                </div>
                                <div style="float: right;" class="text-light">
                                    <input type="submit" id="comment-submit" asp-page-handler="Submit" value="Submit" class="comment-edit-button" disabled="disabled"/>
                                </div>
                            </div>
                            <textarea id="commentText" name="commentText" class="mm_comment-textbox"></textarea>
                        }
                    }
                    else
                    {
                        @using (Html.BeginForm("OnPostEdit", "ViewPlaylist", FormMethod.Post))
                        {
                            <div class="comment-header" id="comment-id" name="comment-id" value=@comment.CommentID>
                                <div class="comment-user">
                                    <p id="myComment2" name="myComment2">User: @comment.Username</p>
                                </div>
                                @if(@HttpContextAccessor.HttpContext.Session.GetInt32("UserID") == comment.UserID)
                                {
                                    <div style="float: right;" class="text-light">
                                        <input type="submit" id="comment-edit" asp-page-handler="Edit" value="Edit" class="comment-edit-button" name=@comment.CommentID/>
                                    </div>
                                }
                            </div>
                            <div class="comment-text">
                                <p id="comment-id-text">@comment.Text</p>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>
